<div class="ui small modal confirm-action">
    @Html.AntiForgeryToken()
    <div class="header">Потвърди действието</div>
    <div class="content">
        <p id="confirmActionText">Сигурни ли сте, че искате да изтриете елемента?</p>
    </div>
    <div class="actions">
        <div class="ui positive right labeled icon button">Продължи<i class="check icon"></i></div>
        <div class="ui negative button">Откажи</div>
    </div>
</div>