<div class="remove-item-container">
    <button data-tooltip="Изтриване" class="ui right floated red tertiary button remove-item">
        <i class="trash alternate large icon"></i>
    </button>
</div>
