@{
    ViewData["Title"] = "Типове услуги";
}

<div class="ui grid">
    <div class="column">
        <div class="column">
            <table id="services"
                   class="ui celled striped very compact table" style="width:100%; padding:0px;"
                data-url="@Url.Action("GetServiceList", "Service")"
                data-add-url="@Url.Action("Add", "Service")">
             </table>
        </div>
    </div>
</div>
@await Html.PartialAsync("_BackButton", @Url.Action("Index", "Home", new { area = "" }))
@section Scripts
{
    <script src="~/js/Admin/service/serviceList.js" asp-append-version="true"></script>
}
