<div class="ui small modal confirm-action">
    <div class="header">Потвърди действието</div>
    <div class="content">
        <p>Сигурни ли сте, че искате да извършите това действие?</p>
    </div>
    <div class="actions">        
        <div class="ui positive right labeled icon button">Потвърди<i class="check icon"></i></div>
        <div class="ui negative button">Откажи</div>
    </div>
</div>