<div class="ui small modal confirm-delete">
    <div class="header">Потвърди изтриването</div>
    <div class="content">
        <p>Сигурни ли сте, че искате да изтриете елемента?</p>
    </div>
    <div class="actions">        
        <div class="ui positive right labeled icon button">Изтрий<i class="trash alternate icon"></i></div>
        <div class="ui negative button">Откажи</div>
    </div>
</div>