@using URegister.Core.Models.CurrentRegister
@model RegisterStartVM

@{
    ViewBag.Title = "Стартиране на регистър";
    var htmlFieldPrefix = ViewData.TemplateInfo.HtmlFieldPrefix;
 }
<div class="ui grid">
    <form class="ui sixteen wide column" action="@Url.Action("Start")" method="post" enctype="multipart/form-data">
        <div class="content">
            <div class="column ui segment green">
                <div class="ui form">
                    <div class="fields">
                        <div class='sixteen wide field'>
                            @Html.EditorFor(model => model.Id, "DropDownInt")
                        </div>
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("_BackSubmitButton", @Url.Action("Index", "Home", new { area = "" }))
        </div>
    </form>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}