@using URegister.Core.Models.Register
@model AdministrationFilterVM
@{
    ViewData["Title"] = "Администрации";
}
@Html.HiddenFor(x => x.RegisterId)
<div class="ui grid">
    <div class="column">
         <div class="column">
            <table 
                id="administrations" 
                class="ui celled striped very compact table" style="width:100%; padding:0px;"
                data-url="@Url.Action("GetAdministrationList", "Register")"
                   data-add-url="@Url.Action("AddAdministration", "Register", new { registerId = Model.RegisterId })">
             </table>
        </div>
    </div>
</div>
@await Html.PartialAsync("_BackButton", @Url.Action("Index"))
@await Html.PartialAsync("_ConfirmDelete")
@section Scripts
{
    <script src="~/js/register/administrationList.js" asp-append-version="true"></script>
}
